# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [1]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [4]:
# Your code here:

print(f"The database has {df.shape[0]} rows and {df.shape[1]} columns.")

The database has 6000 rows and 8 columns.

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [7]:
# Your code here:

print("The database tracks the following information about each diamond:")
df.columns

The database tracks the following information about each diamond:

['Carat Weight',
 'Cut',
 'Color',
 'Clarity',
 'Polish',
 'Symmetry',
 'Report',
 'Price']

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents:

Each row represents a diamond

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [9]:
# Your code here:
total_carats = df.select(pl.col("Carat Weight").sum().alias("total_carats"))
total_carats

shape: (1, 1)
┌──────────────┐
│ total_carats │
│ ---          │
│ f64          │
╞══════════════╡
│ 8007.12      │
└──────────────┘

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [10]:
# Your code here:
unique_cuts = df.select(pl.col("Cut").n_unique().alias("num_unique_cuts"))
unique_cuts

shape: (1, 1)
┌─────────────────┐
│ num_unique_cuts │
│ ---             │
│ u32             │
╞═════════════════╡
│ 5               │
└─────────────────┘

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [20]:
# Your code here:
max_price= df.select(pl.col("Price").max())
min_price = df.select(pl.col("Price").min())

print(f"The most valuable diamond is worth: {max_price}")
print(f"The least valuable diamond is worth: {min_price}")

The most valuable diamond is worth: shape: (1, 1)
┌────────┐
│ Price  │
│ ---    │
│ i64    │
╞════════╡
│ 101561 │
└────────┘
The least valuable diamond is worth: shape: (1, 1)
┌───────┐
│ Price │
│ ---   │
│ i64   │
╞═══════╡
│ 2184  │
└───────┘

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [28]:
# Your code here:
avg_price_by_color = df.group_by("Color").agg(pl.col("Price").mean()).sort("Price", descending=True)
print(f"We should focus on the following colors in our premium line:")
avg_price_by_color.head(3)

We should focus on the following colors in our premium line:

shape: (3, 2)
┌───────┬──────────────┐
│ Color ┆ Price        │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ D     ┆ 15255.783661 │
│ F     ┆ 12712.241856 │
│ G     ┆ 12520.050633 │
└───────┴──────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain =

New Grain = Each row represents a color of a diamond

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [33]:
# Your code here:
clarity_breakdown = (
    df
    .group_by("Clarity")
    .agg([
        pl.count().alias("num_diamonds"),
        pl.col("Price").mean().alias("avg_price"),
        pl.col("Carat Weight").sum().alias("total_carats")
    ])
    .sort("Clarity")
)

clarity_breakdown

/tmp/ipython-input-4228792485.py:6: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("num_diamonds"),

shape: (7, 4)
┌─────────┬──────────────┬──────────────┬──────────────┐
│ Clarity ┆ num_diamonds ┆ avg_price    ┆ total_carats │
│ ---     ┆ ---          ┆ ---          ┆ ---          │
│ str     ┆ u32          ┆ f64          ┆ f64          │
╞═════════╪══════════════╪══════════════╪══════════════╡
│ FL      ┆ 4            ┆ 63776.0      ┆ 7.87         │
│ IF      ┆ 219          ┆ 22105.844749 ┆ 316.0        │
│ SI1     ┆ 2059         ┆ 8018.864012  ┆ 2563.69      │
│ VS1     ┆ 1192         ┆ 13694.113255 ┆ 1682.74      │
│ VS2     ┆ 1575         ┆ 11809.053333 ┆ 2170.81      │
│ VVS1    ┆ 285          ┆ 16845.680702 ┆ 389.43       │
│ VVS2    ┆ 666          ┆ 14142.177177 ┆ 876.58       │
└─────────┴──────────────┴──────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [40]:
# Your code here:

pricing_structure = (
    df
    .group_by(["Cut", "Color"])
    .agg(pl.col("Price").mean().alias("avg_price"))
    .sort(["Cut", "Color"])
    .sort("avg_price", descending=True)
)

pricing_structure

shape: (30, 3)
┌─────────────────┬───────┬──────────────┐
│ Cut             ┆ Color ┆ avg_price    │
│ ---             ┆ ---   ┆ ---          │
│ str             ┆ str   ┆ f64          │
╞═════════════════╪═══════╪══════════════╡
│ Signature-Ideal ┆ D     ┆ 19823.1      │
│ Ideal           ┆ D     ┆ 18461.953571 │
│ Ideal           ┆ F     ┆ 14729.426997 │
│ Ideal           ┆ G     ┆ 13570.310145 │
│ Signature-Ideal ┆ F     ┆ 13247.947368 │
│ …               ┆ …     ┆ …            │
│ Fair            ┆ F     ┆ 6063.625     │
│ Fair            ┆ D     ┆ 6058.25      │
│ Fair            ┆ H     ┆ 5908.5       │
│ Fair            ┆ E     ┆ 5370.625     │
│ Fair            ┆ I     ┆ 4573.1875    │
└─────────────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain =

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [41]:
# Your code here:
top_segments = (
    df
    .group_by(["Color", "Cut"])
    .agg([
        pl.count().alias("num_diamonds"),
        pl.col("Price").sum().alias("total_value")
    ])
    .sort("total_value", descending=True)
    .head(5)
)

top_segments

/tmp/ipython-input-3880168290.py:6: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("num_diamonds"),

shape: (5, 4)
┌───────┬───────────┬──────────────┬─────────────┐
│ Color ┆ Cut       ┆ num_diamonds ┆ total_value │
│ ---   ┆ ---       ┆ ---          ┆ ---         │
│ str   ┆ str       ┆ u32          ┆ i64         │
╞═══════╪═══════════╪══════════════╪═════════════╡
│ G     ┆ Ideal     ┆ 690          ┆ 9363514     │
│ G     ┆ Very Good ┆ 578          ┆ 7140620     │
│ F     ┆ Very Good ┆ 455          ┆ 5648327     │
│ F     ┆ Ideal     ┆ 363          ┆ 5346782     │
│ H     ┆ Ideal     ┆ 458          ┆ 5279687     │
└───────┴───────────┴──────────────┴─────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use